<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
    <ion-button expand="block" color="success">Iniciar sesión como trabajador</ion-button>
    <ion-button expand="block" color="warning">Iniciar sesión como gerente</ion-button>
    <ion-button expand="block" color="danger">Iniciar sesión como administrador</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Correo electrónico" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Contraseña" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary">Iniciar sesión</ion-button>
</ion-content>