<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-amplify"></ion-icon>
      APP Registro
          
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ionic</ion-title>
    </ion-toolbar>
  </ion-header>

 


  <ion-content>

    <ion-img src="../../assets/img/logo.png" ></ion-img>
    

 
    <ion-item>
      <ion-input placeholder="Correo electrónico" type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item>
     Perfil &nbsp;&nbsp;&nbsp;&nbsp;<select name="combo">
        <!-- Opciones de la lista -->
        <option value="1" selected>Colaborador</option>
        <option value="2" >RR.HH</option> <!-- Opción por defecto -->
        <option value="3">Supervisor</option>
      </select>
    </ion-item>

    <br>
    <br>
    <br>
    <br>

    <ion-button expand="block" color="primary">Registrarse</ion-button>
  
    
    
  </ion-content>



 

 
</ion-content>


